<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        tr{
            height: 42px;
        }
        td{
            font-size: 18px;
        }
        img{
            width: 100px;
            height: 100px;
            float: right;
        }
    </style>
</head>
<body>
    
    
   
    <table style="width:100%" align="center" border="1">
        <tr>
          <th colspan="2"><b align="center" style="font-size: 18px;">Sexsiyyeti tesdiq eden senedi ve Imtahana buraxilis vereqesini ozunuzle imtahana getirin!</b></th>
        
        </tr>
        <tr>
            <th colspan="2"><b align="center" style="font-size: 18px;">Imtahan binasina bu buraxilis vereqesinde gosterilen saatdan 1 saat 30 deqiqe evvel gelin!</b></th>
         
        </tr>
        <tr>
            <th colspan="2"> <b align="center" style="font-size: 24px;">Telebe Qebulu uzre Dovlet Komissiyasi</b></th>
        </tr>
        <tr>
            <th colspan="2"> <span align="center" style="font-size: 18px;font-weight: 400;">Qebul imtahanina buraxilis vereqesi</span></th>
        </tr>
        <tr align="center">
          <td align="center">Is nomresi</td>
          <td align="center">{{user.number}}</td>
        </tr>
        <tr align="center">
          <td align="center">Sexsiyyet vesiqesinin FIN kodu</td>
          <td align="center">{{user.fin}}</td>
        </tr>
        <tr align="center">
            <td align="center">Soyadi</td>
            <td align="center">{{user.last_name}}</td>
          </tr>
          <tr align="center">
            <td align="center">Adi</td>
            <td align="center">{{user.first_name}}</td>
          </tr>
          <tr align="center">
            <td align="center">Bolme</td>
            <td align="center">Azerbaycan</td>
          </tr>
          <tr align="center">
            <td align="center">Qrup</td>
            <td align="center">I</td>
          </tr>
          <tr align="center">
            <td align="center">Xarici dil</td>
            <td align="center">Ingilis dili</td>
          </tr>
          <tr align="center">
            <td align="center">Tarix</td>
            <td align="center">{{user.date}}</td>
          </tr>
          <tr align="center">
            <td align="center">Saat</td>
            <td align="center">09:00</td>
          </tr>
          <tr align="center">
            <td align="center">Bina</td>
            <td align="center">Sebail rayonu 204 Nomreli Tam Orta Mekteb</td>
          </tr>
          <tr align="center">
            <td align="center">Unvan</td>
            <td align="center">Baki seher</td>
          </tr>
          <tr align="center">
            <td align="center">Zal</td>
            <td align="center">Otaq 404</td>
          </tr>
          <tr align="center">
            <td align="center">Mertebe</td>
            <td align="center">4</td>
          </tr>
          <tr align="center">
            <td align="center">Sira</td>
            <td align="center">2</td>
          </tr>
          <tr align="center">
            <td align="center">Yer</td>
            <td align="center">4</td>
          </tr>
          <tr align="center">
            <td align="center">Cavab kartini alan nezaretcinin  imzasi</td>
            <td align="center">Imza</td>
          </tr>
          <tr align="center" style="height: 55px;padding: 5px;">
            <td align="center" colspan="2">1.Azercell,Bakcell ve Nar Mobile abunecileri imtahan neticelerini SMS vasitesile oyrene bilerler.Bunun ucun is nomresini 7727-ye gondermek kifayetdir!</td>

          </tr>
          
      </table>
      <br><br>
      <img align="center" src="https://www.pngall.com/wp-content/uploads/13/Postage-Stamp-PNG-Image-File.png" alt="">
      
</body>
</html>